<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Future of Teaching</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheets/extra.css}" />
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
<!-- Cabeçalho || Menu -->
<section>	
	<header th:include="fragments/Cabecalho"></header>
</section>

<!-- Conteúdo Cadastro Usuário -->
	<section layout:fragment="conteudo-cadastro-usuario"></section>

<!-- Rodapé || Footer -->	
<section>
	<footer th:include="fragments/Rodape"></footer>
</section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{https://code.jquery.com/jquery-1.12.4.min.js}" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
    <!-- Font Awesome -->
    <script th:src="@{https://use.fontawesome.com/6354f4472e.js}"></script>
    
	<script th:src="@{/js/algaworks/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/js/algaworks/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/algaworks/bootstrap-datepicker.pt-BR.min.js}"></script>
	<script th:src="@{/js/algaworks/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/js/javascripts/extra.js}"></script>
	
</body>
</html>