@charset "utf-8";

body {
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

* {
	margin: 0;
	padding: 0;
}

#logotipo-fot {
	padding-top: 0;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}

/* 
 * ARQUIVO Cabecalho.html
 */
.nome-logo {
	display: inline;
	width: 80%;
	height: 25px; 
	color : white;
	color: white;
	padding-top: 15px;
	text-align: center;
}

/* 
 * ARQUIVO Rodape.html
 */
.rodape {
	bottom: 0;
	margin: 0 auto;
	position: fixed;
	width: 100%;
	text-align: right;
	display: inline;
}

.social-icons right {
	text-align: right;
}

.social-icons left {
	text-align: left;
}

.col-sm-2 {
	display: inline;
	text-decoration: none;
	text-align: center;
}

.fa-2x {
	padding-left: 5px;
}

#copyright {
	text-align: right;
	padding-top: 10px;
}

.pricinpal-center {
	text-align: center;
}
