<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/LayoutPadrao}">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Cadastro de Usuários</title>
	
	<!-- Responsive meta tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FavIcon -->
    <link rel="shortcut icon" th:href="@{/img/favicon/fot-logo-original.ico}" />
    
    <!-- CSS Extra para Formatações -->
    <link rel="stylesheet" th:href="@{/css/stylesheets/extra.css}" />
</head>

<body>
<!--   -->
<!-- Inclusão das informações que foram segregadas nessas páginas de MensagemGeral e MensagemErro-->
<!-- <section layout:fragment="conteudo-cadastro-usuario"> -->
<!--     <form method="POST" th:action="*{novo} th:object="${usuario}"> -->
<!-- <!--     	<div layout:include="MensagemGeral"></div> --> -->
<!-- <!--     	<div layout:include="MensagemErro"></div> --> -->
	
<!-- 	<div class="container-fluid pricinpal-center"> -->
<!--    		<div class="panel-heading"> -->
<!--    			<div class="clearfix"> -->
<!--    				<h1 class="panel-title aw-titulo-panel"><strong>Cadastro de Usuários</strong></h1> -->
<!-- <!-- 	   				<a class="btn btn-link aw-link-panel" th:href="@{/#}">Voltar para pesquisa</a> --> -->
<!--    			</div> -->
<!--    		</div> -->
  
  		
  
<!--    		<div class="panel-body col-md-10">  -->
<!--    			<div class="form-inline"> -->
<!-- 				<div class="form-group"> -->
<!-- 					<label for="nome">Nome</label> -->
<!-- 					<input type="text" class="form-control" autofocus="autofocus" id="nome" placeholder="Nome" th:field="*{nome}"> -->
<!-- 				</div> -->
<!-- 				<div class="form-group"> -->
<!-- 					<label for="sobrenome">Sobrenome</label> -->
<!-- 					<input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome" th:field="*{sobrenome}"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="form-group"> -->
<!-- 				<label for="sobrenome">Data de Nascimento</label> -->
<!-- 				<input type="date" class="form-control" id="dataNascimento" placeholder="Data de Nascimento" th:field="*{dataNascimento}" autocomplete="off"> -->
<!-- 			</div> -->
<!-- 			<div class="form-group"> -->
<!-- 				<label for="nomeMae">Nome da Mãe</label> -->
<!-- 				<input type="text" class="form-control" id="nomeMae" placeholder="Nome da Mãe" th:field=*{nomeMae}> -->
<!-- 			</div> -->
<!-- 			<div class="form-group"> -->
<!-- 				<label for="nomePai">Nome do Pai</label> -->
<!-- 				<input type="text" class="form-control" id="nomePai" placeholder="Nome do Pai" th:field=*{nomePai}> -->
<!-- 			</div>	 -->
					
<!-- 			<div class="col-sm-3  form-group"> -->
<!-- 				<label for="sexo" class="control-label">Sexo</label> -->
<!-- 				<select id="sexo" class="form-control" th:field="*{sexo}"> -->
<!-- 					<option value="">Selecione o sexo</option> -->
<!-- 					<option th:each="sexo : ${sexos}" th:value="${sexo}" th:text="${sexo}"></option> -->
<!-- 				</select> -->
<!-- 			</div> -->
<!-- 			<div class="col-sm-3  form-group"> -->
<!-- 				<label for="perfil" class="control-label">Perfil</label> -->
<!-- 				<select id="perfil" class="form-control" th:field="*{perfil}"> -->
<!-- 					<option value="">Selecione o perfil</option> -->
<!-- 					<option th:each="perfil : ${perfis}" th:value="${perfil}" th:text="${perfil}"></option> -->
<!-- 				</select> -->
<!-- 			</div> -->
<!-- 			<div class="form-group"> -->
<!-- 				<label for="email">E-mail</label> -->
<!-- 				<input type="text" class="form-control" id="email" placeholder="E-mail" th:field=*{email}> -->
<!-- 			</div>	 -->
<!-- 		</div>		 -->
				
<!-- 	</div> -->
<!-- 	<div class="form-group"> -->
<!-- 		<div class="col-sm-offset-2 col-sm-10"> -->
<!-- 			<button type="submit" class="btn btn-primary">Salvar</button> -->
<!-- 			<button type="reset" th:href="@{/#}" class="btn btn-danger">Cancelar</button> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!--     </form> -->
<!-- </section> -->

    
    <!-- JS Extrra para Formatações -->
    <script th:src="@{/js/javascripts/extra.js}"></script>
</body>
</html>