<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/LayoutPadrao}">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Home</title>
	
	<!-- Responsive meta tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FavIcon -->
    <link rel="shortcut icon" th:href="@{/img/favicon/fot-logo-original.ico}" />
    
    <!-- CSS Extra para Formatações -->
    <link rel="stylesheet" th:href="@{/css/stylesheets/extra.css}" />
</head>
<body>











    
    <!-- JS Extrra para Formatações -->
    <script th:src="@{/js/javascripts/extra.js}"></script>
</body>
</html>